/data_samples/
/processed_data/
/varnet/outputs/
/varnet/fast_mri_samples
/varnet/weights/
/varnet/dataset_cache.pkl
/varnet/logs/
/varnet/wandb/
/varnet/weigths/
/varnet/low_quality/
/varnet/rss_samples/
/varnet/knee_leaderboard_state_dict.pt